body{
  background-image: url("https://t3.ftcdn.net/jpg/01/99/10/44/240_F_199104456_hGSpXtSlQW4u2kk2YNUOzuvieua68wrf.jpg"); 
  background-size: cover; 
}


.logo{
  padding-left:40px;
  padding-top:20px;
}
h1{
  padding-top: 190px;
}
.intro{
  padding-top:300px;
  color:white;
  font-size:16px;
  font-family: 'Libre Baskerville', serif;
}

.dejong{
  font-size:5em;
  color:white;
  font-family: 'Cinzel', serif;
}