*{
  padding:0;
  margin:0;
}

#dj{
  background-size: cover;
  height: 100vh;
  background-image: url("https://t3.ftcdn.net/jpg/01/99/10/44/240_F_199104456_hGSpXtSlQW4u2kk2YNUOzuvieua68wrf.jpg");
}

.logo{
  padding-left:40px;
  padding-top:20px;
}
h1{
  padding-top: 180px;
}
.intro{
  padding-top:327px;
  text-align: center;
  color:white;
  font-size:20px;
  font-family: 'Libre Baskerville', serif;
}

.dejong{
  font-size:6.5em;
  color:white;
  font-family: 'Cinzel', serif;
}
ul{
  float:right;
  padding-top:20px;
}
a{
  font-size:25px;
  color:white;
  padding:7px;
  text-decoration:none;
  font-family: 'Cinzel', serif;
}
h2{
  text-align: center;
  font-family: 'Cinzel', serif;
}
#menu{
     color:rgb(160, 8, 8);
     background-color: white;
}
h3{
  font-family: 'Cinzel', serif;
}
.o{
  color:rgb(160, 8, 8);
  text-align: center;
  font-size:2em;
  padding: 50px;
  font-family: 'Cinzel', serif;
}
.ord{
  color:rgb(160, 8, 8);
  text-align: center;
  padding:20px;
  font-family: 'Cinzel', serif;
}
#order{
  padding:30px;
}
#bttn{
  font-family: 'Cinzel', serif;
  text-align: center;
  padding-left: 520px;
  
}
 #b{
  background-color:rgb(160, 8, 8);
  color:white;
  padding:10px;
} 
#button{
  background-color:rgb(160, 8, 8);
  color:white;
}
.r{
  padding-left: 200px;
  color:rgb(160, 8, 8);
  margin:10px;
  font-family: 'Cinzel', serif;
}
#quant{
  padding-left:90px;
}
#amnt{
  /* text-align: center; */
  padding-left: 300px;
  margin:20px;
}
h5{
  padding:30px;
}
#tot{
  padding-right: 500px;
}
#contacts{
  color:rgb(160, 8, 8);
  font-family: 'Cinzel', serif;
  text-align: center;
  padding:30px;
  padding-top:100px;
}
.comment{
  width:45vh;
  height:30vh;
  border-width:thin;
  /* border: 2px solid rgb(160, 8, 8); */
}
.select{
  font-family: 'Cinzel', serif;   
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}
.fa:hover {
  opacity: 0.9;
}

.fa {
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:50%;
  
}
